
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow get, list: if isSignedIn();
      allow create, update, delete: if isOwner(userId);

      match /pets/{petId} {
        allow get, list, create, update, delete: if isOwner(userId);
        
        match /chatMessages/{messageId} {
          allow get, list, create: if isOwner(userId);
        }
      }

      match /analysisResults/{analysisResultId} {
        allow get, list, create, update, delete: if isOwner(userId);
      }
    }
  }
}
